/*HEADER*/
html{
    font-family: sans-serif;
}
header {
    background-image: url("../images/fons-capçalera.jpg");
    height: 400px;
    background-position: center;
   
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    margin:15px;

}
.head-1{
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    margin-bottom: 10px;
    
}
.logo, nav, .redes-sociales {
    margin: 0 45px;
    
}
.logo img{
    width: 70px;
}
.redes-sociales{
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-content: flex-start;
    justify-content: space-between;

}

/*NAVEGACIÓN*/
nav{
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:gray;
    font-size: 1.1em;
}
header a:link{
    text-decoration: none;
    color: gray;
}
header a:visited{
    text-decoration: none;
    color: gray;
}
header a:hover{
    font-size: 1.2em;
    color: indianred;
}
.redes-sociales{
    flex-grow: 2;
}
.head-2{
    background-color:rgba(128, 128, 128, 0.089);
    padding: 60px;
    margin-top: 50px;
    text-align: center;
    color: rgba(253, 76, 105, 0.575);
    font-family: serif;
    font-size: 2.6em;
}

/*MAIN*/
main{
    background-color: rgba(179, 179, 179, 0.61);
    margin:15px;
    padding: 10px;
    display: flex;
    justify-content: center
}
.articles{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

article{
    background-color: rgb(243, 243, 243);
    width:450px;
    font-size: 0.85em;
    font-weight: bold;
    color: rgb(90, 90, 90);
    margin: 10px;
    padding:10px;
}
img{
    width: 450px;
    display: block;
    margin: auto;
    
}
.fecha{
    margin-top: -12px;
    color: tomato;
}
h2{
    background-color: rgb(252, 95, 95);
    color: white;
    height: 17px;
    padding-top: 20px;
    margin-top: -20px;
}
article a{
    color: gray;
    text-decoration: none;
}

button{
    color: white;
    font-size: 1.2em;
    background-color:  rgb(252, 95, 95);
    width: 500px;
    height: 40px;
    margin-top: 20px;
    text-decoration: none;
    cursor: pointer;
}
aside{
    background-color: rgb(255, 80, 162);
    padding-bottom: 60px;
    margin-top: 10px;
    width: 70%;
}
aside p {
    display: block;
    margin: 20px auto;
    background-color: gray;
    height: 20px;
    width: 80%;
}
footer{
    background-color: black;
    margin:20px;
    height: 50px;
    display: flex;
    justify-content: center; 
    align-items: center; 

}
footer p{
    background-color: crimson;
    height: 20px;
    margin: 20px;
    width: 1800px;
}

/*VERSIÓN TABLET y MÓVIL*/
@media screen and (max-width: 1500px){
    main{
        display: block;
        background-color: yellow;
    }
    aside{
        margin: 10px auto;
        padding-top: 10px;
    }

}
